.header {
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	align-items: center;
	padding: 92px 50px 97px;
}

.header__links-list {
	display: flex;
	justify-content: space-between;
	max-width: 389px;
	text-underline-offset: 3px;
}

.header__links-list-item {
	padding: 0 0 0 5px;
	list-style: circle;
}

.header__links-list-item_no-marker {
	display: inline;
	padding-left: 0;
}

.header__link {
	font-family: Raleway, Arial, sans-serif;
	font-weight: normal;
	font-size: 18px;
}

.header__link_active:hover {
	text-decoration: none;
}

.header__logo {
	display: block;
	width: min-content;
	height: min-content;
}

.header__logo-image {
	display: block;
	width: 148px;
	height: 105px;
	object-fit: scale-down;
}

.header__right-element-position {
	justify-self: end;
}

.address {
	display: flex;
	flex-direction: column;
	width: 240px;
	font-family: Raleway, Arial, sans-serif;
	font-weight:normal;
	font-size: 18px;
	font-style: normal;
	line-height: 24px;
	text-decoration-thickness: 1px;
	text-underline-offset: 3px;
}

.social {
	padding-left: 1px;
}

.cover {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 757px;
	background-image: url(../images/cover.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.cover__title {
	z-index: 1;
	margin-top: 155px;
	margin-right: 35px;
	margin-left: 50px;
	color: #fff;
	font-family: Raleway, Arial, sans-serif;
	font-weight: bold;
	font-size: 100px;
	line-height: 1.35;
	letter-spacing: 30px;
	text-transform: uppercase;
}

.accent-span {
	display: block;
}

.text-center {
	padding-left: 15px;
	text-align: center;
}

.text-right {
	margin-right: -15px;
	text-align: right;
}

.description {
	z-index: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 1000px;
	margin-top: 96px;
	margin-left: 50px;
	font-family: Raleway, Arial, sans-serif;
	font-weight: normal;
	font-size: 22px;
	line-height: 28px;
	text-transform: uppercase;
}

.subline {
	color: #fff;
	word-spacing: 19px;
}

.description__part-of-subline {
	display: inline-block;
	margin-left: -2px;
}

.button {
	margin-left: 51px;
	border: 1px solid #fff;
	padding: 10px 33px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.overlay {
	position: absolute;
	inset: 0;
	z-index: 0;
	background: rgba(0,0,0,0.6);
}

.lots {
	width: 1050px;
	margin: 180px auto 0;
}

.lots__heading {
	margin-left: 39px;
	font-family: Raleway, Arial, sans-serif;
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
}

.lots__card-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 24px;
	margin-top: 26px;
	margin-left: 0;
}

.lots__card-list-item {
	width: 334px;
	min-height: 596px;
	list-style: none;
}

.card-link,
.card {
	height: 100%;
	text-decoration: none;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-position: center;
	background-size: cover;
}

.card_type_film {
	background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
	background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
	background-image: url(../images/card-lot-03.jpg);
}

.card__title {
	z-index: 1;
	margin-top: 49px;
	margin-right: 39px;
	margin-left: 40px;
	color: #fff;
	font-family: Raleway, Arial, sans-serif;
	font-weight: bold;
	font-size: 22px;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-thickness: 1px;
	text-underline-offset: 3px;
	text-transform: uppercase;
}

.card__text {
	z-index: 1;
	margin-right: 40px;
	margin-bottom: 48px;
	margin-left: 40px;
	color: #fff;
	font-family: Raleway, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
	line-height: 120%;
}

.lots__look-more-link {
	display: block;
	margin-top: 30px;
	padding-left: 39px;
	font-family: Raleway, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
	text-underline-offset: 4px;
}

.lots__look-more-link_active:hover {
	text-decoration: none;
}

.about {
	display: grid;
	grid-template-columns: 334px 1fr;
	width: 1050px;
	margin: 120px auto 0;
}

.about__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 240px;
	height: 240px;
	margin: 35px auto 0;
	border-radius: 50%;
	background: #000;
}

.about__logo-image {
	width: 148px;
	object-fit: scale-down;
}

.about__container {
	width: 690px;
	margin-top: 136px;
	margin-left: 24px;
}

.about__title {
	margin-right: 0;
	font-family: Raleway, Arial, sans-serif;
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
}

.about__text {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 100px;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
}

.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	margin-top: 180px;
	margin-bottom: 80px;
	padding-right: 50px;
	padding-left: 50px;
}

.footer__menu {
	font-family: Raleway, Arial, sans-serif;
	font-weight: normal;
	font-size: 18px;
	text-underline-offset: 4px;
}

.footer__links-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__links-list-item {
	list-style: none;
}

.footer__menu-link_active:hover {
	text-decoration: none;
}

.footer__social-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 48px;
	list-style: none;
}

.footer__social-link {
	display: block;
	width: 48px;
	height: 48px;
}

.footer__social-icon {
	object-fit: scale-down;
}