header {
	display: grid;
  grid-template-columns: 1fr min-content 1fr;
	align-items: center;
  height: 293px;
	padding: 89px 50px 96px;
}

.header__menu {
	margin: 0;
	padding: 0;
}

.header__links-list {
	display: flex;
	justify-content: start;
	gap: 29px;
	text-underline-offset: 4px;
}

.header__links-list-item {
	list-style: circle;
	padding: 0 0 0 5px;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 18px;
}

.header__links-list-item_no-bullit {
	display: inline;
	padding-left: 0;
}

.header__logo {
	display: flex;
	align-items: center;
	object-fit: contain;
	width: 141px;
	height: 110px;
}

.header__logo-image {
	padding-top: 5px;
	padding-left: 5px;
}

.header__address {
	justify-self: end;
	margin-right: -3px;
}

.address {
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: normal;
	line-height: 24px;
	width: 240px;
	top: 95px;
  display: flex;
  flex-direction: column;
	text-underline-offset: 4px;
}

.header__social {
	padding-top: 1px;
}

.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}

.cover {
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background: rgba(0,0,0,0.5);
}

.cover__title {
  z-index: 1;
  margin-top: 156px;
  margin-right: 35px;
  margin-left: 50px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.35;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
	padding-left: 15px;
}

.text-right {
  text-align: right;
	margin-right: -15px;
}

.description {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	text-transform: uppercase;
  width: 1000px;
	margin-top: 96px;
	margin-left: 51px;
}

.subline {
  color: #fff;
  word-spacing: 19px;
}

.button {
  margin-left: 50px;
  border: 1px solid #fff;
	padding: 10px 31px;
	text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.lots {
	width: 1050px;
	margin: 180px auto 0;
}

.lots__heading {
  margin-left: 40px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-left: 0;
	margin-top: 27px;
	gap: 24px;
}

.lots__card-list-item {
	width: 334px;
	min-height: 596px;
	list-style: none;
}

.card,
.card-link {
	height: 100%;
	text-decoration: none;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-size: cover;
	background-position: center;
}

.card_type_film {
	background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
	background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
	background-image: url(../images/card-lot-03.jpg);
}

.card__title {
	z-index: 1;
	margin-top: 51px;
	margin-right: 40px;
	margin-left: 40px;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 22px;
	text-decoration-style: solid;
	text-underline-offset: 3px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: underline;
}

.card__text {
	z-index: 1;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: #fff;
	margin-bottom: 46px;
	margin-right: 40px;
	margin-left: 40px;
}

.lots__look-more-link {
	margin-top: 30px;
	padding-left: 40px;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-underline-offset: 4px;
}

.about {
	width: 1050px;
	margin: 120px auto 0;
	display: grid;
	grid-template-columns: 334px 1fr;
}

.about__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 35px auto 0;
	background: #000;
	width: 240px;
	height: 240px;
	border-radius: 50%;
}

.about__logo-image {
	width: 148px;
	object-fit: scale-down;
}

.about__container {
	width: 690px;
	margin-top: 137px;
	margin-left: 24px;
}

.about__title {
	margin-right: 0;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
}

.about__text {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	gap: 24px;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}

.footer {
	width: 100%;
	margin-top: 180px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.footer__address {
	align-items: self-start;
	padding-left: 52px;
}

.footer__menu {
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-underline-offset: 3px;
}

.footer__links-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__links-list-item {
	list-style: none;
}

.footer__social-list {
	display: flex;
	justify-content: flex-end;
	margin-right: 50px;
	flex-direction: row;
	gap: 48px;
	list-style: none;
}

.footer__social-icon-container {
	width: 48px;
	height: 48px;
}

.footer__social-icon {
	object-fit: scale-down;
}