header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    place-items: center;
    height: 293px;
    padding: 50px;
}

.header__menu {

}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 12px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    width: 148px;
}

.header__address {
    display: flex;
    flex-direction: column;
    justify-self: end;
    max-width: 240px;
}

.cover {
    position: relative;
    width: 100%;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

.cover {
    display: flex;
    flex-direction: column;
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
    background: rgba(0,0,0,0.4);
}

.cover__title {
    z-index: 1;
    margin-top: 165px;
    margin-right: 30px;
    margin-left: 50px;
    color: #fff;
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.35;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.accent-span {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.description {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin-top: 106px;
    margin-left: 50px;
}

.subline {
    color: #fff;
    font-family: 'Raleway', serif;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 19px;
}

.button {
    margin-left: 50px;
    border: 1px solid #fff;
    padding: 11px 30px;
    color: #fff;
    font-family: 'Raleway', serif;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.lots__heading {
    margin-top: 180px;
    margin-left: 64px;
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    word-spacing: 19px;
}