header {
	display: grid;
  grid-template-columns: 1fr min-content 1fr;
	align-items: center;
  height: 293px;
	padding: 89px 50px 96px;
}

.header__menu {
	margin: 0;
	padding: 0;
}

.header__links-list {
	display: flex;
	justify-content: start;
	gap: 29px;
	text-underline-offset: 4px;
}

.header__links-list-item {
	list-style: circle;
	padding: 0 0 0 5px;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 18px;
}

.header__links-list-item_no-bullit {
	display: inline;
	padding-left: 0;
}

.header__logo {
	display: flex;
	align-items: center;
	object-fit: contain;
	width: 141px;
	height: 110px;
}

.header__logo-image {
	padding-top: 5px;
	padding-left: 5px;
}

.header__address {
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: normal;
  display: flex;
  flex-direction: column;
	text-underline-offset: 4px;
  justify-self: end;
	line-height: 24px;
	width: 240px;
	top: 95px;
	margin-right: -3px;
}

.header__social {
	padding-top: 1px;
}

.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}

.cover {
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background: rgba(0,0,0,0.4);
}

.cover__title {
  z-index: 1;
  margin-top: 156px;
  margin-right: 35px;
  margin-left: 50px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.35;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
	padding-left: 15px;
}

.text-right {
  text-align: right;
	margin-right: -15px;
}

.description {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin-top: 95px;
  margin-left: 50px;
}

.subline {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.button {
  margin-left: 50px;
  border: 1px solid #fff;
  padding: 11px 30px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.lots__heading {
  margin-top: 180px;
  margin-left: 64px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.lots__card-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-left: 25px;
	margin-top: 24px;
	gap: 24px;
}

.lots__card-list-item {
	width: 334px;
	min-height: 596px;
	list-style: none;
}

.card,
.card-link {
	height: 100%;
	text-decoration: none;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-size: cover;
	background-position: center;
}

.card_type_film {
	background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
	background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
	background-image: url(../images/card-lot-03.jpg);
}

.card__title {
	z-index: 1;
	margin-top: 48px;
	margin-right: 40px;
	margin-left: 40px;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: underline;
}

.card__text {
	z-index: 1;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	margin-bottom: 48px;
	margin-right: 40px;
	margin-left: 40px;
}

.lots__look-more-link {
	margin-top: 30px;
	margin-left: 40px;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 20px;
}