header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    height: 293px;
    padding: 50px;
    place-items: center;
    /*text-align: center;*/
}

.header__menu {

}

.header__links-list {
    display: flex;
    flex-direction: row;
    list-style: circle;
    padding-left: 12px;
    gap: 20px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    width: 148px;
}

.header__address {
    max-width: 240px;
}

.cover {
    position: relative;
    min-height: 757px;
    width: 100%;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

.cover {
    display: flex;
    flex-direction: column;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 0;
}

.cover__title {
    letter-spacing: 30px;
    /*width: 100%;*/
    color: #fff;
    margin-top: 165px;
    margin-left: 50px;
    margin-right: 30px;
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    line-height: 1.35;
    z-index: 1;
}

.accent-span {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.description {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 106px;
    z-index: 1;
}

.subline {
    font-family: 'Raleway', serif;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    word-spacing: 19px;
}

.button {
    font-family: 'Raleway', serif;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-left: 50px;
    border: 1px solid #fff;
    padding: 11px 30px;
}